
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Store.cshtml";
}
    <body dir="rtl">
        <div style="width:80%;margin:30px auto;text-align:center">
            <h2 style="text-align:center">Errro</h2>
            <form style="text-align:center">
                <h2 style="color:red;Background:aqua;"> اطلاعات ورود درست نمباشد </h2>
                <button class="btn btn-danger" asp-controller="home" asp-action="login">برگشت</button>
            </form>
        </div>


        <script src="~/node_modules/jquery/dist/jquery.js"></script>
        <script src="~/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    </body>
